language: android

jdk:
    - oraclejdk8

android:
  components:
    - tools
    - platform-tools

    # The BuildTools version used by your project
    - build-tools-25.0.2

    # The SDK version used to compile your project
    - android-25

    - extra-android-support
    - extra-android-m2repository

  licenses:
    - android-sdk-license-5be876d5

# as per http://blog.travis-ci.com/2014-12-17-faster-builds-with-container-based-infrastructure/
sudo: false

notifications:
  email: false
  slack: 9tique:zNWQyKYJFt5NiAkbXb3Wx14S

 # cache between builds
cache:
  directories:
  - $HOME/.m2
  - $HOME/.gradle

env:
  # TERM=dumb : For Gradle build output
  - TERM=dumb

before_install:
 - echo y | android update sdk -u -a -t android-25
 - echo y | android update sdk -u -a -t build-tools-25.0.2
 - echo y | android update sdk -u -a -t extra-android-support
 - echo y | android update sdk -u -a -t extra-android-m2repository
 - chmod +x gradlew

script:
  # Build all gradle-based Android projects
  - ./gradlew build
