<?xml version="1.0" encoding="utf-8"?>
<manifest package="kr.co.mash_up.a9tique"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".NinetiqueApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- kakao app key -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>
        <!-- facebook app id -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.signup.KaKaoSignupActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.setting.SettingActivity"
            android:parentActivityName=".ui.products.ProductsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.co.mash_up.a9tique.ui.products.ProductsActivity"/>
        </activity>
        <activity
            android:name=".ui.addeditproduct.AddEditProductActivity"
            android:parentActivityName=".ui.products.ProductsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.co.mash_up.a9tique.ui.products.ProductsActivity"/>
        </activity>
        <activity
            android:name=".ui.products.ProductsActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.addeditproduct.categorysleleciton.CategorySelectionActivity"
            android:parentActivityName=".ui.addeditproduct.AddEditProductActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.addeditproduct.AddEditProductActivity"/>
        </activity>
        <activity
            android:name=".ui.productdetail.seller_mine.SellerMineProductDetailActivity"
            android:parentActivityName=".ui.products.ProductsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.co.mash_up.a9tique.ui.products.ProductsActivity"/>
        </activity>
        <activity
            android:name=".ui.productdetail.seller_other.SellerOtherProductDetailActivity"
            android:parentActivityName=".ui.products.ProductsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.co.mash_up.a9tique.ui.products.ProductsActivity"/>
        </activity>
        <activity
            android:name=".ui.setting.inquire.InquireActivity"
            android:parentActivityName=".ui.setting.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.co.mash_up.a9tique.ui.setting.SettingActivity"/>
        </activity>
        <activity
            android:name=".ui.setting.agreement.AgreementActivity"
            android:parentActivityName=".ui.setting.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.co.mash_up.a9tique.ui.setting.SettingActivity"/>
        </activity>
        <activity
            android:name=".ui.setting.license.LicenseActivity"
            android:parentActivityName=".ui.setting.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.co.mash_up.a9tique.ui.setting.SettingActivity"/>
        </activity>
        <activity
            android:name=".ui.setting.aboutus.About9tiqueActivity"
            android:parentActivityName=".ui.setting.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.co.mash_up.a9tique.ui.setting.SettingActivity"/>
        </activity>
        <activity
            android:name=".ui.setting.sellerinformation.SellerInformationActivity"
            android:parentActivityName=".ui.setting.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.co.mash_up.a9tique.ui.setting.SettingActivity"/>
        </activity>
        <activity
            android:name=".ui.setting.sellerinformation.edit.SellerInformationEditActivity"
            android:parentActivityName=".ui.setting.sellerinformation.SellerInformationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.co.mash_up.a9tique.ui.setting.sellerinformation.SellerInformationActivity"/>
        </activity>
        <activity
            android:name=".ui.sellproducts.SellProductsActivity"
            android:parentActivityName=".ui.products.ProductsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.co.mash_up.a9tique.ui.products.ProductsActivity"/>
        </activity>
        <activity
            android:name=".ui.zzimproducts.ZzimProductsActivity"
            android:parentActivityName=".ui.products.ProductsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.co.mash_up.a9tique.ui.products.ProductsActivity"/>
        </activity>
        <activity
            android:name=".ui.productdetail.customer.CustomerProductDetailActivity"
            android:parentActivityName=".ui.products.ProductsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.co.mash_up.a9tique.ui.products.ProductsActivity"/>
        </activity>

        <service
            android:name=".service.TokenRefreshService"
            android:enabled="true"
            android:exported="false">
        </service>

        <receiver
            android:name=".networkstatus.NetworkChangeReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>