<?xml version="1.0" encoding="utf-8"?>
<manifest package="kr.co.mash_up.a9tique"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
        </activity>
        <activity android:name=".FacebookLogin"/>
        <activity
            android:name=".AddEditProductActivity"
            android:label="@string/title_activity_add_edit_product"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.co.mash_up.a9tique.MainActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CategorySelectionActivity"
            android:label="@string/title_activity_category_selection"
            android:parentActivityName=".AddEditProductActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kr.co.mash_up.a9tique.AddEditProductActivity"/>
        </activity>
    </application>

</manifest>