<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="kr.co.mash_up.a9tique">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".NinetiqueApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!--&lt;!&ndash; kakao app key &ndash;&gt;-->
        <!--<meta-data-->
        <!--android:name="com.kakao.sdk.AppKey"-->
        <!--android:value="@string/kakao_app_key"/>-->
        <!-- facebook app id -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <!--<activity-->
        <!--android:name="._old.ui.splash.SplashActivity"-->
        <!--android:theme="@style/AppTheme.FullScreen">-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="._old.ui.login.LoginActivity"-->
        <!--android:theme="@style/AppTheme.FullScreen">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN"/>-->

        <!--<category android:name="android.intent.category.LAUNCHER"/>-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="._old.ui.signup.KaKaoSignupActivity"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="._old.ui.setting.SettingActivity"-->
        <!--android:parentActivityName="._old.ui.products.ProductsActivity"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="._old.ui.products.ProductsActivity"/>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="._old.ui.addeditproduct.AddEditProductActivity"-->
        <!--android:parentActivityName="._old.ui.products.ProductsActivity"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="._old.ui.products.ProductsActivity"/>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="._old.ui.products.ProductsActivity"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="._old.ui.addeditproduct.categorysleleciton.CategorySelectionActivity"-->
        <!--android:parentActivityName="._old.ui.addeditproduct.AddEditProductActivity"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="._old.ui.addeditproduct.AddEditProductActivity"/>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="._old.ui.productdetail.seller_mine.SellerMineProductDetailActivity"-->
        <!--android:parentActivityName="._old.ui.products.ProductsActivity"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="._old.ui.products.ProductsActivity"/>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="._old.ui.productdetail.seller_other.SellerOtherProductDetailActivity"-->
        <!--android:parentActivityName="._old.ui.products.ProductsActivity"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="._old.ui.products.ProductsActivity"/>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="._old.ui.setting.inquire.InquireActivity"-->
        <!--android:parentActivityName="._old.ui.setting.SettingActivity"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="._old.ui.setting.SettingActivity"/>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="._old.ui.setting.agreement.AgreementActivity"-->
        <!--android:parentActivityName="._old.ui.setting.SettingActivity"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="._old.ui.setting.SettingActivity"/>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="._old.ui.setting.license.LicenseActivity"-->
        <!--android:parentActivityName="._old.ui.setting.SettingActivity"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="._old.ui.setting.SettingActivity"/>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="._old.ui.setting.aboutus.About9tiqueActivity"-->
        <!--android:parentActivityName="._old.ui.setting.SettingActivity"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="._old.ui.setting.SettingActivity"/>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="._old.ui.setting.sellerinformation.SellerInformationActivity"-->
        <!--android:parentActivityName="._old.ui.setting.SettingActivity"-->
        <!--android:theme="@style/AppTheme.NoActionBar"-->
        <!--android:windowSoftInputMode="stateHidden|adjustPan">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="._old.ui.setting.SettingActivity"/>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="._old.ui.setting.sellerinformation.edit.SellerInformationEditActivity"-->
        <!--android:parentActivityName="._old.ui.setting.sellerinformation.SellerInformationActivity"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="._old.ui.setting.sellerinformation.SellerInformationActivity"/>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="._old.ui.sellproducts.SellProductsActivity"-->
        <!--android:parentActivityName="._old.ui.products.ProductsActivity"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="._old.ui.products.ProductsActivity"/>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="._old.ui.zzimproducts.ZzimProductsActivity"-->
        <!--android:parentActivityName="._old.ui.products.ProductsActivity"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="._old.ui.products.ProductsActivity"/>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="._old.ui.productdetail.customer.CustomerProductDetailActivity"-->
        <!--android:parentActivityName="._old.ui.products.ProductsActivity"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--&gt;-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="._old.ui.products.ProductsActivity"/>-->
        <!--</activity>-->

        <!--<service-->
        <!--android:name="._old.service.TokenRefreshService"-->
        <!--android:enabled="true"-->
        <!--android:exported="false">-->
        <!--</service>-->

        <!--<receiver-->
        <!--android:name="._old.networkstatus.NetworkChangeReceiver"-->
        <!--android:enabled="false"-->
        <!--android:exported="false">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
        <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->


        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.promotions.products.PromotionProductListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.contents_detail.ContentsDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".ui.brand_list.BrandListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".ui.product_detail.ProductDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>